.contact-form,
.contact-form-message,
.contact-form-loader-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact-form {
  position: relative;
  height: 650px;
  padding: 1rem;
  background-color: var(--color_1);
  border: var(--border_1);
  border-radius: 10px;
  z-index: var(--z_4);
}
.contact-form-message {
  height: 100%;
  margin-bottom: 1rem;
}
.contact-form-input-field,
.contact-form-textarea {
  background-color: var(--color_1);
  outline: none;
  border: 0;
  padding: 0.5rem 0;
  width: 100%;
  font-family: 'Inconsolata', monospace;
  color: var(--color_4_transparent_85);  
  font-size: calc(var(--font-size--S) * 1.3);
  line-height: calc(var(--font-size--S) * 1.5);
}
.contact-form-input-field {
  min-height: 50px;
}
.contact-form-textarea {
  min-height: 250px;
  resize: none;
  text-align: justify;
  flex-grow: 1;
}
.contact-form-input-field::placeholder,
.contact-form-textarea::placeholder {
  color: var(--color_4_transparent_60);
}
.valid {
  border-bottom: 2px solid var(--color_3_light); 
} 
.invalid { 
  border-bottom: 2px solid var(--color_4_transparent_85); 
}
.valid-color { 
  color: var(--color_3); 
}
.invalid-color {
color: var(--color_4_transparent_85); 
}
.contact-form-loader-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  background-color: var(--color_1);
  z-index: var(--z_4);
}
.contact-form-loader,
.contact-form-status-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact-form-loader {
  flex-grow: 1;
}
.contact-form-status-message {
  height: 75px;
}
.contact-form-status-message span {
  font-size: calc(var(--font-size--S) * 1.3);
  color: var(--color_4_transparent_85);
  text-align: center;
}
.contact-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease;
}
.contact-form-button button {
  width: 100%;
  height: 50px;
  margin: 0;
  border: var(--border_1);
  background-color: var(--color_3_light);
  cursor: pointer;
  transition: all 0.4s ease;
}
.contact-form-button button > span {
  font-size: calc(var(--font-size--S) * 1.3);
  line-height: calc(calc(var(--font-size--S) * 1.3) * 1.3);
  letter-spacing: 1px;
  color: var(--color_1);
}
.contact-form-button button:hover {
  opacity: 0.75;
}  
.contact-form-button button:focus-visible {
  background-color: var(--color_3);
}  
.contact-form-button button:active {
  background-color: var(--color_3_medium);
}  
.contact-form-button button:active > span,
.contact-form-button button:hover > span,
.contact-form-button button:focus-visible > span {
  color: var(--color_1);
}
.contact-form-button button:disabled {
  pointer-events: none;
  border: 2px solid var(--color_4_transparent_60);
  background-color: transparent;
}
.contact-form-button button:disabled > span {
  color: var(--color_4_transparent_60);
}
.contact-form-character-count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--color_1); 
}
.contact-form-character-count span {
  font-weight: bold;
  font-size: calc(var(--font-size--S) - 0.13rem);
  line-height: var(--font-size--S);
}

/* MEDIA QUERY */
@media (max-width: 249px) {
  .contact-form-status-message {
    min-height: 75px;
    word-wrap: break-word;
  }
  .contact-form-status-message span {
    width: 100%;
  }
}
@media (min-width: 500px) {
  .contact-form-button button > span {
    font-size: calc(var(--font-size--M) * 1.2);
    line-height: calc(calc(var(--font-size--M) * 1.2) * 1.2);
  }
  .contact-form-input-field,
  .contact-form-textarea {
    font-size: calc(var(--font-size--M) * 1.1);
    line-height: calc(var(--font-size--M) * 1.3);
  }
  .contact-form-character-count span {
    font-weight: bold;
    font-size: calc(var(--font-size--M) - 0.13rem);
    line-height: var(--font-size--M);
  }
  .contact-form-status-message span {
    font-size: calc(var(--font-size--M) * 1.1);
    line-height: calc(calc(var(--font-size--M) * 1.1) * 1.1);
  }
}

@media (min-width: 768px) {
  .contact-form {
    height: 100%;
    padding: 2rem;
  }
  .contact-form-input-field,
  .contact-form-textarea {
    font-size: calc(var(--font-size--L) * 1.1);
    line-height: calc(var(--font-size--L) * 1.3);
  }
  .contact-form-status-message span {
    font-size: calc(var(--font-size--L) * 1.1);
    line-height: calc(calc(var(--font-size--L) * 1.1) * 1.1);
  }
  .contact-form-button button > span {
    font-size: calc(var(--font-size--L) * 1.1);
    line-height: calc(calc(var(--font-size--L) * 1.1) * 1.1);
  }
  .contact-form-character-count span {
    font-weight: bold;
    font-size: calc(var(--font-size--L) - 0.13rem);
    line-height: var(--font-size--L);
  }
}

@media (min-width: 1024px) {
  .contact-form {
    border-radius: 0 10px 10px 0;
  }
}