.error-content {
  position: relative;
  display: grid; 
  grid-template-columns: 1fr;
  grid-template-rows: 3fr auto;
  place-items: center;
  width: 100%;
  min-height: calc(100vh - var(--header_height));
  overflow: hidden; 
}
.error-message {
  display: grid; 
  grid-area: 1 / 1 / 2 / 2;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 350px;
  background-color: var(--color_3_light);
  z-index: var(--z_2);
  border-radius: 10px;
  word-wrap:break-word;
  padding: 1rem;
}
.error-message h1 {
  text-align: center;
  width: 100%;
  color: var(--color_1);
  font-size: var(--header-1--S);
  line-height: calc(var(--header-1--S) * 1.1);
}
.error-bottom-toolbar {
  display: grid; 
  grid-area: 2 / 1 / 3 / 2;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 75px;
  justify-items: center;
  align-items: center;
  width: 100%;
  z-index: var(--z_2);
  padding: 0.5rem;
}
.error-pause-background-animation {
  display: grid;
  grid-area: 1 / 3 / 2 / 4;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 35px;
  z-index: var(--z_2);
}

.error-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  place-items: center;
  z-index: var(--z_1);
  overflow: hidden;
}

/* MEDIA QUERY */
@media screen and (max-width: 249px) {
  .error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
  }
  .error-introduction-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
  }
  .error-bottom-toolbar {
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 350px) {
  .error-pause-background-animation {
    display: flex;
    width: 30px;
  }
  .error-bottom-toolbar {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    align-items: flex-end;
  }
}
@media screen and (min-width: 500px) {
  .error-message {
    width: 400px;
  }
  .error-bottom-toolbar {
    padding: 1rem 2rem;
  }
  .error-message h1 {
    font-size: var(--header-1--M);
    line-height: calc(var(--header-1--M) * 1.1);
  }
}
@media screen and (min-width: 768px) {
  .error-message {
    width: 700px;
  }
  .error-message h1 {
    font-size: var(--header-1--L);
    line-height: calc(var(--header-1--L) * 1.1);
  }
}




