.home-content,
.home-title,
.home-title h1,
.home-image,
.home-my-name,
.home-my-name h2,
.home-text,
.home-text p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.home-background--color {
  background-color: var(--color_2);
}
.home--height {
  min-height: 100vh;
}
.home-title {
  margin-top: 3rem;
  height: var(--home_title_height_S);
}
.home-title h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: var(--home_font_title_S);
  line-height: calc(var(--home_font_title_S) + 0.5rem);
  color: var(--color_5);
}
.home-title h1 > span {
  font-size: calc(var(--home_font_title_S) - 1rem);
  color: var(--color_accent_1);
}
.home-image {
  height: var(--home_image_height_S);
  width: var(--home_image_height_S);
  margin: 1rem;
}
.home-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.home-my-name {
  height: var(--home-my-name_height_S);
}
.home-my-name h2 {
  height: var(--home-my-name_height_S);
  font-size: var(--home_font_my_name_S);
  line-height: calc(var(--home_font_my_name_S) + 0.5rem);
  margin: 0;
}
.home-my-name h2 > span {
  text-transform: uppercase;
  font-size: calc( var(--home_font_my_name_S) - 0.5rem);
  color: var(--color_accent_1);
}

.home-text p {
  font-size: var(--home_font-text_S);
  line-height: calc(var(--home_font-text_S) + 0.5rem);
  padding: var(--padding_default);
  text-align: center;
  margin-top: 0rem;
  color: var(--color_3);
}

@media (min-width: 768px) {
  .home-content {
    justify-content: flex-start;
  }
  .home-title {
    width: var(--home_title_width_M);
  }
  .home-title h1 {
    font-size:  var(--home_font_title_M);
    line-height: calc(var(--home_font_title_M ) + 1rem);
  }
  .home-title h1 > span {
    font-size: calc(var(--home_font_title_M) - 1rem);
  }
  .home-image {
    width: var(--home_image_height_M);
    height: var(--home_image_height_M);
  }
  .home-my-name h2 {
    display: inline;
    width: var(--home-my-name_width_M);
    font-size: var(--home_font_my_name_M);
    line-height: var(--home-my-name_height_S); /* same height as container height */
  }
  .home-my-name h2 > span {
    font-size: calc(var(--home_font_my_name_M));
  }
  .home-text {
    width: var(--home-text_width_M);
  }
  .home-text p {
    font-size: var(--home_font-text_M);
    line-height: calc(var(--home_font-text_M) + 0.5rem);
    padding: 0;
  }
}

@media (min-width: 1366px) {
  .home-title {
    width: var(--home_title_width_L);
  }
  .home-title h1 {
    font-size:  var(--home_font_title_L);
    line-height: calc(var(--home_font_title_L) + 0.5rem);
  }
  .home-title h1 > span {
    font-size: calc(var(--home_font_title_L) - 1rem);
  }
  .home-image {
    width: var(--home_image_height_L);
    height: var(--home_image_height_L);
  }
  .home-my-name h2 {
    width: var(--home-my-name_width_L);
    text-align: center;
    font-size: var(--home_font_my_name_L);
  }
  .home-my-name h2 > span {
    font-size: var(--home_font_my_name_L);
  }
  .home-text {
    width: var(--home-text_width_L);
  }
  .home-text p {
    font-size: var(--home_font-text_L);
    line-height: calc(var(--home_font-text_L) + 0.5rem);
    padding: 0;
  }
}