.home-content,
.home-title,
.home-title h1,
.home-title h2,
.home-image,
.home-text,
.home-text p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.home-background--color {
  background-color: var(--color_2);
}
.home--height {
  min-height: 100vh;
}
.home-title {
  margin-top: 5rem;
  height: 250px;
}
.home-title h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  height: 150px;
  margin: 0;
}
.home-title h1 > span {
  text-transform: uppercase;
  text-align: center;
}
.home-title h2 {
  align-items: initial;
  height: 100px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 1rem;
  width: 250px;
}
.home-title h2 > span:first-child {
  text-align: start;
}
.home-title h2 > span:last-child {
  text-align: end;
  text-transform: uppercase;
}
.home-image {
  width: 200px;
  height: 200px;
  margin: 1rem;
}
.home-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.home-text p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding: 1rem;
  text-align: justify;
  margin: 1rem;
}

@media (min-width: 768px) {
  .home-content {
    justify-content: flex-start;
  }
  .home-title h1 {
    line-height: 3.5rem;
    font-size: 3rem;
  }
  .home-title h2 {
    width: 380px;
    font-size: 2rem;
    line-height: 2rem;
  }
  .home-image {
    width: 250px;
    height: 250px;
  }
  .home-text {
    width: 400px;
  }
  .home-text p {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0;
  }
}

@media (min-width: 1366px) {
  .home-title {
    width: 750px;
  }
  .home-title h1 {
    line-height: 4rem;
    font-size: 3.5rem;
  }
  .home-title h2 {
    padding: 0;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .home-text {
    width: 500px;
  }
}