.image,
.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards; 
}
.image-placeholder {
  width: 150px;
  height: 150px;
  align-self: center;
  word-wrap: break-word;
  align-self: center;
  opacity: 1;
  animation: fadeOut 2s ease forwards;
}
.image-placeholder--hidden {
  opacity: 1;
  animation: none;
}

/* Animation to fade in the image */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Animation to fade out the placeholder */
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}


.image-placeholder span {
  width: 100%;
  font-size: calc(var(--font-size--S)* 1.3);
  line-height: calc(var(--font-size--S)* 1.4);
  text-transform: uppercase;
  text-align: center;
}
