.error-page-container--layout,
.error-page-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-page-image { 
  height: 500px;
  width: 100%;
  background-color: var(--color_2);
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .error-page-image { 
    height: 600px;
    width: 600px;
  }
}