.projects-title,
.projects-title h1,
.projects-text,
.projects-text p, 
.projects-content,
.projects-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.projects-title {
  height: 150px;
  font-size: 3rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}
.projects-title h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  height: 150px;
  margin: 0;
  text-align: center;
}
.projects-text {
  width: 100%;
}
.projects-text p {
  padding: 1rem;
  text-align: justify;
}

.projects-display {
  align-items: initial;
}
.projects-display-content,
.projects-display-group {
  display: grid;
  gap: 0.5rem;
  color: black;
}
.projects-display-content {
  margin: 0.5rem;
}
.projects-display-group {
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(auto-fit , 400px);
  /* padding: 0.5rem; */
}
.projects-display-group p {
  margin: 0;
}
@media (min-width: 768px) {
  .projects-text {
    width: 500px;
  }
  .projects-display-content {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 350px);
    padding: 0;
  }
}
@media (min-width: 1366px) {
  .projects-display-content {
    grid-template-columns: repeat(auto-fit, 350px);
    grid-template-rows: repeat(auto, 400px);
    margin: 1rem 0;
  }
}