.project-card {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
  background-color: var(--color_2);
  /* border: 2px solid var(--color_3); */
  flex-direction: column;
  cursor: pointer;
}

.project-card-header { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* border-bottom: 2px solid var(--color_2); */
  /* background-color: var(--color_2); */
  background-color: transparent;
  
  padding: 1rem;
  word-wrap: break-word;
  width: 100%;
}
.project-card-header h2 {
  font-size: var(--header-2--S);
  width: 100%;
}

/* image preview */
.project-card-image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem;
}

.project-card-image-preview img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; 
}

.project-card-image-preview:hover img {
  transform: scale(1.05); 
}

@media screen and (max-width: 300px) {
  .project-card {
    height: auto;
  }
}