.projects-content,
.projects-display,
.projects-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.projects-content {
  margin-bottom: 1rem;
}

.projects-display {
  flex-wrap: wrap;
  gap: 1rem;
}

.projects-card-wrapper {
  flex: 100%;
}

@media screen and (min-width: 550px) {
  .projects-display {
    width: calc(100% - 2rem);
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .projects-card-wrapper {
    flex: calc(50% - 1rem);
    max-width: calc(50% - 0.5rem);
  }
  .projects-card-wrapper:last-child {
    max-width: calc(50% - 0.5rem);
  }
}

/* MEDIA */
@media screen and (min-width: 768px) {
  .projects-display {
    width: calc(750px - 2rem);
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .projects-display {
    width: calc(1000px - 2rem);
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .projects-card-wrapper {
    flex: calc(33.33% - 2rem);
    max-width: none;
    width: 300px;
  }
  .projects-card-wrapper:last-child {
    max-width: 50%;
  }
}