.projects-content,
.projects-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.projects-content {
  margin-bottom: 1rem;
}

.projects-display {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
  gap: 10px;
}

/* MEDIA QUERY */
@media screen and (max-width: 300px) {
  .projects-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 500px) {
  .projects-display {
    grid-template-rows: auto auto;
    width: 400px;
  }
}

/* MEDIA  QUERY */
@media screen and (min-width: 768px) {
  .projects-display {
    grid-template-columns: 1fr 1fr;
    width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  .projects-display {
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
  }
} 
  
@media screen and (min-width: 1366px) {
  .projects-display {
    width: 1300px;
  }
}  