.shared-page-container,
.shared-anchor,
.shared-anchor a,
.shared-title,
.shared-sociallinks,
.shared-sociallinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.shared-page-container {
  position: relative;
  min-height: calc(100vh - var(--header_height));
  background-color: var(--color_1);
  padding-top: 0;
  align-items: flex-start;
  flex-direction: column;
}
.shared-page-container--minheight {
  min-height: 100vh;  
}
.shared-anchor {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  height: 50px;
  width: 50px;
}
.shared-anchor a {
  justify-content: center;
  align-items: center;
  height: 100%;
}
.shared-anchor:hover {
  background-color: var(--color_3);
}
.shared-title {
  height: 100px;
  text-transform: uppercase;
  text-align: center;
}
.shared-title h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0;
}
.shared-sociallinks {
  flex-wrap: wrap;
  margin: 1rem 0;
  list-style-type: none;
  padding: 0;
}
.shared-sociallinks a {
  width: 60px;
  height: 60px;
  padding: 10px;
  transition: 0.1s;
}
.shared-sociallinks a:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.shared-sociallinks img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .shared-sociallinks {
    width: auto;
  }
  .shared-title {
    height: 150px;
  }
  .shared-title h1 {
    font-size: 3.2rem;
    line-height: 3.5rem;
  }
}