.shared-page-container,
.shared-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.shared-page-container {
  position: relative;
  min-height: calc(100vh - var(--header_height));
  background-color: var(--color_1);
  padding-top: 0;
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
}

.shared-page-container--centered {
  justify-content: center;
  align-items: center;
}

.shared-page-container--initial-loader {
  position: absolute;
  top: var(--header_height);
  min-height: calc(100vh - var(--header_height));
}

.shared-title {
  min-height: 100px;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.shared-title h1 {
  width: 100%; 
  font-size: var(--header-1--S);
  line-height: calc(var(--header-1--S) * 1.1);
  color: var(--color_4);
}
/* TAGS */
.shared-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 30px;
  flex-wrap: wrap;
  gap: 0.5rem;
  user-select: none;
}
.shared-tags--skill {
  margin-bottom: 1rem;
}
.shared-tag-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0.5rem;
  height: 35px;
  border-radius: 10px;
  word-wrap: break-word;
  transition: transform 0.3s ease;
}
.shared-tag-item:hover {
  transform: scale(1.1);
}
.shared-tag-item span { 
  width: 100%;
  font-size: var(--font-size--S);
  line-height: var(--font-size--S);
}
.shared-tag-item--skill {
  height: 40px;
}
.shared-tag-item--skill span { 
  width: 100%;
  font-size: var(--font-size--M);
}

.toast-message {
  background: var(--color_2) !important;
  color: var(--color_4) !important;
  font-size: 1.2rem;
  padding: 1rem;
  font-family: 'Inconsolata', monospace;
} 

.Toastify__progress-bar-theme--dark {
  background-color: var(--color_3)  !important;
}

/* MEDIA */
@media screen and (max-width: 299px) {
  .shared-page-container {
    width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .shared-title {
    min-height: initial;
    height: 150px;
  }
  .shared-title h1 {
    font-size: var(--header-1--M);
    line-height: calc(var(--header-1--M) * 1.1);
  }
}

@media screen and (min-width: 1024px) {
  .shared-title h1 {
   font-size: var(--header-1--L);
   line-height: calc(var(--header-1--L) * 1.1);
  }
}  