.space-cat-container,
.space-cat-text-bubble,
.space-cat-text-bubble-text {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.space-cat-container {
  height: 400px;
  position: relative;
}
.space-cat-text-bubble {
  position: relative;
  width: 300px;
  height: 195px;
  top: -115px;
  z-index: 2;
}
.space-cat-text-bubble-text {
  user-select: none;
  background-color: var(--color_4);
  border: 3px solid var(--color_1);
  border-radius: 25px;
  width: 200px;
  height: 100px;
  position: absolute;
  text-align: center;
  padding: 0.5rem;
}
.space-cat-text-bubble-text p {
  font-size: 1.2rem;
  color: var(--color_1);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.space-cat-text-bubble-text p span {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
}
.space-cat-text-bubble-1 {
  width: 50px;
  height: 25px;
  position: absolute;
  border-radius: 25px;
  background-color: var(--color_4);
  border: 3px solid var(--color_1);
  left: 150px;
  bottom: 15px;
}
.space-cat-text-bubble-2 {
  width: 20px;
  height: 15px;
  position: absolute;
  border-radius: 50px;
  left: 152px;
  bottom: -10px;
  background-color: var(--color_4);
  border: 3px solid var(--color_1);
}
.space-cat-proximity-hover {
  display: none;
}
.space-cat,
.space-cat img {
  width: 150px;
  height: auto;
  position: absolute;
  top: 111px;
  user-select: none;
  z-index:2;
}
.space-cat  {
  transition: transform .4s;
}
.space-cat-proximity-hover:hover {
  transform: scale(1.5);
}
.space-cat-proximity-hover:hover + .space-cat {
  transform: translateY(85px);
}
.space-cat-eyes {
  position: absolute;
}
#eye-1 {
  width: 16px;
  height: 16px;
  top: 169px;
  right: -57px;
}
#eye-2 {
  width: 16px;
  height: 16px;
  top: 169px;
  right: -107px;
}


@media (min-width: 300px) {
  .space-cat-text-bubble {
    width: 300px;
  }
  .space-cat-text-bubble-text {
    width: 300px;
  }
  .space-cat-text-bubble-text > p {
    justify-content: center;
    padding: 0;
  }
  
  .space-cat-proximity-hover { 
    display: flex;
    width: 200px;
    height: 200px;
    top: 100px;
    position: absolute;
    user-select: none;
    transition: transform .4s;
    background-color: transparent;
    z-index: 4;
  }
}

@media (min-width: 1366px) {
  .space-cat-container {
    height: 300px;
  }
  .space-cat-text-bubble-text p {
    font-size: 1.2rem;
  }
  .space-cat,
  .space-cat img {
    top: 61px;
  }
  #eye-1 {
    width: 16px;
    height: 16px;
    top: 119px;
    right: -57px;
  }
  #eye-2 {
    width: 16px;
    height: 16px;
    top: 119px;
    right: -107px;
  }
}