@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');

html, body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-y: scroll;
}
/* stop scroll while modal is opened */
body.modal-open {
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* reCaptcha badge */
.grecaptcha-badge {
  z-index: -1;
  /* z-index: var(--z_10); */
}

:root {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: dark;
  color: var(--color_4);
  background-color: var(--color_1);
  height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLORS */
  /* color palette: https://colorhunt.co/palette/232931393e464ecca3eeeeee*/
  --color_1: #191e23;
  --color_2: #393e46;
  --color_3: #399d7c;
  --color_3_light2: #b4e4d4;
  --color_3_light: #40b08b;
  --color_3_medium: #328b6d;
  --color_3_dark: #2b785e;
  --color_4: #eeeeee;
  --color_4_transparent_85: rgba(238, 238, 238, .85);
  --color_4_transparent_60: rgba(238, 238, 238, .60);
  --color_4_transparent_35: rgba(238, 238, 238, .35);
  --color_5: #fff; 
  
  /* border colors */
  --border_1: 2px solid var(--color_3);
  /* toastify colors */
  --toastify-color-dark: var(--color_2);
  --toastify-text-color-dark:var(--color_4);
  --toastify-color-progress-dark: var(--color_3_light);

  /* z-index */
  --z_1: 1;
  --z_2: 2;
  --z_3: 3;
  --z_4: 4;
  --z_6: 6;
  --z_8: 8;
  --z_10: 10;
  --z_11: 11;

  /* FONTS */
  /* Headers */
  /* h1 */
  --header-1--S: 2rem;
  --header-1--M: 2.5rem;
  --header-1--L: 3rem;
  /* h2 */
  --header-2--S: 1.4rem;
  --header-2--M: 1.6rem;
  --header-2--L: 1.8rem;
  /* h3 */
  --header-3--S: 1.2rem;
  --header-3--M: 1.4rem;
  --header-3--L: 1.6rem;
  /* font-size */
  --font-size--S: 0.9rem;
  --font-size--M: 1rem;
  --font-size--L: 1.1rem;
  
  /* MISC */
  --header_height: 75px; 
}