.navigation-container {
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
  align-content: start;
}
.navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  text-decoration: none;
  text-transform: capitalize;
  user-select: none;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.navigation-item span {
  color: var(--color_4);
  font-size: calc(var(--font-size--S) * 1.8);
  line-height: calc(var(--font-size--S) * 2);
}
.navigation-item:hover {
  opacity: 0.5;
}
.navigation-item--active {
  background-color: var(--color_3_light);
  pointer-events: none;
}
.navigation-item--active span {
  color: var(--color_1);
}

/* MEDIA QUERY */
@media screen and (min-width: 768px)  {
  .navigation-container {
    grid-template-columns: repeat(auto-fit, minmax(0, max-content));
    grid-template-rows: 100%;
    grid-area: 1 / 2 / 3 / 2;
    align-content: center; 
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .navigation-item {
    padding: 0 0.5rem;
    min-width: 100px;
    height: 100%;
  }
  .navigation-item span {
    color: var(--color_4);
    font-size: calc(var(--font-size--M) * 1.5);
    line-height: calc(var(--font-size--M) * 1.8);
  }
  .navigation-item--active {
    background-color: var(--color_3_light);
  }
  .navigation-item--active span {
    color: var(--color_1);
  }
}