/* turn off responsive header, menubar */
.navigation-container {
  display: none;
}
.navigation_responsive-container,
.navigation_responsive-container ul,
.navigation_responsive-container a,
.navigation_responsive-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navigation_responsive-container {
  height: auto;
}
.navigation_responsive-container ul {
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.navigation_responsive-container a {
  text-decoration: none;
}
.navigation_responsive-item {
  cursor: pointer;
  width: 95%;
}
.navigation_responsive-item:hover {
  background-color: var(--color_3);
}
.navigation_responsive-item p {
  font-size: 1.5rem;
  color: var(--color_5);
}
.navigation_responsive-item a {
  text-decoration: none;
}

@media (min-width: 768px) {
  /* turn off responsive header, menubar */
  .navigation_responsive-container {
    display: none;
  }
  .navigation-container, 
  .navigation-container ul, 
  .navigation-container a,
  .navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
  .navigation-container {
    flex-direction: row;
    width: auto;
  }
  .navigation-container ul {
    margin: 0;
    padding: 0;
  }
  .navigation-container a {
    text-decoration: none;
  }
  .navigation-item {
    cursor: pointer;
    padding: 0 20px;
  }
  .navigation-item {
    width: 120px;
  }
  .navigation-item--active {
    background-color: var(--color_3);
  }
  .navigation-item:hover {
    background-color: var(--color_3);
  }
  .navigation-item p {
    font-size: 1.5rem;
    color: var(--color_5);
    padding: 0;
    margin: 0;
  }
  .navigation-item a {
    text-decoration: none;
  }
}